/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f6f9;
  color: #333;
}

/* HEADINGS */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* BUTTON DEFAULT */
button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: 0.3s;
}